* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* use dvh for more reliable mobile viewport height if you want */
  min-height: 100dvh;
}

header {
  background-color: beige;
  padding-top: calc(env(safe-area-inset-top, 20px) + 16px);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.content {
  background-color: #ffffff;
  flex: 1;
}

footer {
  background-color: bisque;
  padding-bottom: calc(env(safe-area-inset-bottom, 20px) + 16px);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}