body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body::before,
  body::after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
}

body::before {
  top: 0;
  height: env(safe-area-inset-top);
  background: red;
}

body::after {
  bottom: 0;
  height: env(safe-area-inset-bottom);
  background: blue;
}

.content {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 200px;
  background-color: beige;
}

footer {
  width: 100%;
  height: 200px;
  background-color: bisque;
}